@font-face {
 font-family:Poppins-Regular;
 src:url(../fonts/Poppins-Regular.ttf)
}
@font-face {
 font-family:Poppins-Bold;
 src:url(../fonts/Poppins-Bold.ttf)
}
@font-face {
 font-family:Poppins-Medium;
 src:url(../fonts/Poppins-Medium.ttf)
}
@font-face {
 font-family:Raleway-Regular;
 src:url(../fonts/Raleway-Regular.ttf)
}
@font-face {
 font-family:Raleway-Black;
 src:url(../fonts/Raleway-Black.ttf)
}
@font-face {
 font-family:Raleway-SemiBold;
 src:url(../fonts/Raleway-SemiBold.ttf)
}
@font-face {
 font-family:Raleway-Bold;
 src:url(../fonts/Raleway-Bold.ttf)
}
* {
 margin:0;
 padding:0;
 box-sizing:border-box
}
body,
html {
 height:100%;
 font-family:Poppins-Regular,sans-serif
}
a {
 font-family:Poppins-Regular;
 font-size:14px;
 line-height:1.7;
 color:#666;
 margin:0;
 transition:all .4s;
 -webkit-transition:all .4s;
 -o-transition:all .4s;
 -moz-transition:all .4s
}
a:focus {
 outline:none!important
}
a:hover {
 text-decoration:none;
 color:#a73335
}
h1,
h2,
h3,
h4,
h5,
h6 {
 margin:0
}
p {
 font-family:Poppins-Regular;
 font-size:14px;
 line-height:1.7;
 color:#666;
 margin:0
}
ul,
li {
 margin:0;
 list-style-type:none
}
input {
 outline:none;
 border:none
}
textarea {
 outline:none;
 border:none
}
textarea:focus,
input:focus {
 border-color:transparent!important
}
input:focus::-webkit-input-placeholder {
 color:transparent
}
input:focus:-moz-placeholder {
 color:transparent
}
input:focus::-moz-placeholder {
 color:transparent
}
input:focus:-ms-input-placeholder {
 color:transparent
}
textarea:focus::-webkit-input-placeholder {
 color:transparent
}
textarea:focus:-moz-placeholder {
 color:transparent
}
textarea:focus::-moz-placeholder {
 color:transparent
}
textarea:focus:-ms-input-placeholder {
 color:transparent
}
input::-webkit-input-placeholder {
 color:#acacac
}
input:-moz-placeholder {
 color:#acacac
}
input::-moz-placeholder {
 color:#acacac
}
input:-ms-input-placeholder {
 color:#acacac
}
textarea::-webkit-input-placeholder {
 color:#acacac
}
textarea:-moz-placeholder {
 color:#acacac
}
textarea::-moz-placeholder {
 color:#acacac
}
textarea:-ms-input-placeholder {
 color:#acacac
}
button {
 outline:none!important;
 border:none;
 background:0 0
}
button:hover {
 cursor:pointer
}
iframe {
 border:none!important
}
.txt1 {
 font-family:Raleway-Regular;
 font-size:16px;
 color:#999;
 line-height:1.4
}
.bo1 {
 border-bottom:1px solid #999
}
.hov1:hover {
 border-color:#a73335
}
.limiter {
 width:100%;
 margin:0 auto
}
.container-login100 {
 width:100%;
 min-height:100vh;
 display:-webkit-box;
 display:-webkit-flex;
 display:-moz-box;
 display:-ms-flexbox;
 display:flex;
 flex-wrap:wrap;
 justify-content:center;
 align-items:center;
 padding:15px;
 background:#000000;
 /*background:-webkit-linear-gradient(bottom,#000000,#a73335);
 background:-o-linear-gradient(bottom,#000000,#a73335);*/
 /*! background:-moz-linear-gradient(bottom,#0250c5,#d43f8d); */
 /*background:linear-gradient(bottom,#0250c5,#d43f8d);*/
 position:relative;
 z-index:1
}

.container-error{
    border: 1px solid #c80000;
    border-radius: 3px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;
    font-family: Raleway-SemiBold;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    width:100%;
    -webkit-transition: opacity .4s;
    -o-transition: opacity .4s;
    -moz-transition: opacity .4s;
    transition: opacity .4s;

}

.container-login100::before {
 content:"";
 display:block;
 position:absolute;
 z-index:-1;
 width:100%;
 height:100%;
 top:0;
 left:0;
 background-image:url(/static/images/bd_web_api_exploitation.jpg);
 background-repeat:no-repeat;
 background-size:cover;
 background-position:top left
 opacity: .8;
}
.wrap-login100 {
 width:450px;
 background:#fff;
 border-radius:3px;
 overflow:hidden
}
.login100-form {
 width:100%;
 display:-webkit-box;
 display:-webkit-flex;
 display:-moz-box;
 display:-ms-flexbox;
 display:flex;
 justify-content:space-between;
 flex-wrap:wrap
}
.login100-form-title {
 font-family:Raleway-Black;
 font-size:30px;
 color:#333;
 line-height:1.2;
 text-transform:uppercase;
 text-align:center;
 width:100%;
 display:block
}
.wrap-input100 {
 position:relative;
 width:100%;
 z-index:1
}
.input100 {
 font-family:Raleway-SemiBold;
 font-size:18px;
 line-height:1.2;
 color:#686868;
 display:block;
 width:100%;
 background:#e6e6e6;
 height:62px;
 border-radius:3px;
 padding:0 30px 0 65px
}
.focus-input100 {
 display:block;
 position:absolute;
 border-radius:3px;
 bottom:0;
 left:0;
 z-index:-1;
 width:100%;
 height:100%;
 box-shadow:0 0;
 color:rgba(167, 51, 53,.6)
}
.input100:focus+.focus-input100 {
 -webkit-animation:anim-shadow .5s ease-in-out forwards;
 animation:anim-shadow .5s ease-in-out forwards
}
@-webkit-keyframes anim-shadow {
 to {
  box-shadow:0 0 60px 20px;
  opacity:0
 }
}
@keyframes anim-shadow {
 to {
  box-shadow:0 0 60px 20px;
  opacity:0
 }
}
.symbol-input100 {
 font-size:24px;
 color:#999;
 display:-webkit-box;
 display:-webkit-flex;
 display:-moz-box;
 display:-ms-flexbox;
 display:flex;
 align-items:center;
 position:absolute;
 border-radius:25px;
 bottom:0;
 left:0;
 width:100%;
 height:100%;
 padding-left:23px;
 padding-bottom:5px;
 pointer-events:none;
 -webkit-transition:all .4s;
 -o-transition:all .4s;
 -moz-transition:all .4s;
 transition:all .4s
}
.input100:focus+.focus-input100+.symbol-input100 {
 color:#a73335;
 padding-left:18px
}
.input-checkbox100 {
 display:none
}
.label-checkbox100 {
 font-family:Raleway-Regular;
 font-size:16px;
 color:#999;
 line-height:1.2;
 display:block;
 position:relative;
 padding-left:26px;
 cursor:pointer
}
.label-checkbox100::before {
 content:"\f00c";
 font-family:FontAwesome;
 font-size:13px;
 color:transparent;
 display:-webkit-box;
 display:-webkit-flex;
 display:-moz-box;
 display:-ms-flexbox;
 display:flex;
 justify-content:center;
 align-items:center;
 position:absolute;
 width:18px;
 height:18px;
 border-radius:3px;
 background:#fff;
 border:2px solid #a73335;
 left:0;
 top:48%;
 -webkit-transform:translateY(-50%);
 -moz-transform:translateY(-50%);
 -ms-transform:translateY(-50%);
 -o-transform:translateY(-50%);
 transform:translateY(-50%)
}
.input-checkbox100:checked+.label-checkbox100::before {
 color:#a73335
}
.container-login100-form-btn {
 width:100%;
 display:-webkit-box;
 display:-webkit-flex;
 display:-moz-box;
 display:-ms-flexbox;
 display:flex;
 flex-wrap:wrap;
 justify-content:center
}
.login100-form-btn {
 font-family:Raleway-Bold;
 font-size:16px;
 line-height:1.5;
 color:#fff;
 text-transform:uppercase;
 width:100%;
 height:62px;
 border-radius:3px;
 background:#a73335;;
 display:-webkit-box;
 display:-webkit-flex;
 display:-moz-box;
 display:-ms-flexbox;
 display:flex;
 justify-content:center;
 align-items:center;
 padding:0 25px;
 -webkit-transition:all .4s;
 -o-transition:all .4s;
 -moz-transition:all .4s;
 transition:all .4s
}
.login100-form-btn:hover {
 background:#333
}
.btn-face,
.btn-cat {
 font-family:Raleway-Bold;
 font-size:16px;
 line-height:1.2;
 display:-webkit-box;
 display:-webkit-flex;
 display:-moz-box;
 display:-ms-flexbox;
 display:flex;
 justify-content:center;
 align-items:center;
 width:calc((100% - 10px)/2);
 height:40px;
 border-radius:3px;
 border:1px solid #e6e6e6;
 background-color:#fff;
 -webkit-transition:all .4s;
 -o-transition:all .4s;
 -moz-transition:all .4s;
 transition:all .4s
}
.btn-face {
 color:#3b5998
}

.btn-face i,
.btn-cat i
 {
 font-size:20px;
 margin-right:10px;
 padding-bottom:1px
}

.btn-cat {
 color:#555
}

/*
.btn-cat img {
 width:19px;
 margin-right:10px;
 padding-bottom:1px
}*/

.btn-face:hover,
.btn-cat:hover {
 border-color:#a73335
}
.validate-input {
 position:relative
}
.alert-validate::before {
 content:attr(data-validate);
 position:absolute;
 max-width:70%;
 background-color:#fff;
 border:1px solid #c80000;
 border-radius:3px;
 padding:4px 25px 4px 10px;
 top:50%;
 -webkit-transform:translateY(-50%);
 -moz-transform:translateY(-50%);
 -ms-transform:translateY(-50%);
 -o-transform:translateY(-50%);
 transform:translateY(-50%);
 right:8px;
 pointer-events:none;
 font-family:Raleway-SemiBold;
 color:#c80000;
 font-size:13px;
 line-height:1.4;
 text-align:left;
 visibility:hidden;
 opacity:0;
 -webkit-transition:opacity .4s;
 -o-transition:opacity .4s;
 -moz-transition:opacity .4s;
 transition:opacity .4s
}
.alert-validate::after {
 content:"\f12a";
 font-family:FontAwesome;
 display:block;
 position:absolute;
 color:#c80000;
 font-size:15px;
 top:50%;
 -webkit-transform:translateY(-50%);
 -moz-transform:translateY(-50%);
 -ms-transform:translateY(-50%);
 -o-transform:translateY(-50%);
 transform:translateY(-50%);
 right:13px
}
.alert-validate:hover:before {
 visibility:visible;
 opacity:1
}
@media(max-width:992px) {
 .alert-validate::before {
  visibility:visible;
  opacity:1
 }
}
@media(max-width:480px) {
 .wrap-login100 {
  padding-left:15px;
  padding-right:15px
 }
}
