mat-drawer-container {
  margin: 0;
  height: 100vh;

  mat-drawer {
    width: 12vw;
    padding: 16px 0;

    .header {
      height: 100px;
      padding: 0 16px;

      mat-icon {
        font-size: 14px;
      }

      h4 {
        color: darkgray;
      }
    }

    .navigation-buttons {
      margin-top: 60px;

      div {
        height: 60px;
        width: 100%;
        padding: 0 16px;

        span {
          margin-left: 10px;
        }

        mat-icon {
          color: gray;
        }

        &:hover {
          background-color: #fafafa;
          cursor: pointer;

          span {
            font-weight: 500;
          }

          mat-icon {
            color: #673ab7;
          }
        }

        &:focus {
          outline: none;
          border: 0;
        }
      }
    }
  }
}
