<div class="container">
  <mat-card fxLayout="column" fxLayoutAlign="space-between">
    <mat-toolbar>
      <h1>Recuperar senha</h1>
    </mat-toolbar>
    <div class="form" fxLayout="column">
      <h4>Insira um e-mail válido:</h4>
      <form [formGroup]="resetForm" (submit)="onSubmit()">
        <mat-form-field appearance="outline" full>
          <mat-label>E-mail</mat-label>
          <input formControlName="email" type="text" matInput required />
          <mat-error *ngIf="resetForm.controls.email?.invalid">
            <span *ngIf="resetForm.controls.email.errors?.required"
              >Email é um campo <strong>obrigatório</strong>.</span
            >
            <span
              *ngIf="
                !resetForm.controls.email.errors?.required &&
                resetForm.controls.email.errors
              "
              >E-mail inválido.</span
            >
          </mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">
          <mat-icon *ngIf="loading; else textSignin"
            ><mat-spinner color="accent" diameter="20"> </mat-spinner
          ></mat-icon>
          <ng-template #textSignin>
            <span>Recuperar</span>
          </ng-template>
        </button>
      </form>
    </div>
    <div fxLayoutAlign="center" class="back">
      <button
        routerLink="/signin"
        routerLinkActive="active"
        type="button"
        mat-button
      >
        <span>Voltar</span>
      </button>
    </div>
  </mat-card>
</div>
